// ==============================
// Custom style
// 自定义样式
// ==============================
.wrapper{
    
}

#head-desktop{
    
}

.home.posts .summary{
    
    
    border-bottom: dotted;
    border-width:1px;
    
    padding-left: 30px;
    padding-right: 30px;
}